################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/SAPDIExamples/DesignTimeBuild
/.vs/SAPDIExamples/v16/Server/sqlite3
/.vs/SAPDIExamples/v16
/packages
/SAPDIExamples/.vs/SAPDIExamples/v16
/SAPDIExamples/obj/Debug
/Test/obj/Debug
/SAPDIExamples/bin/Debug
/Test/bin/Debug
